GenericMapping/defaultMapping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="variableDeclaration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="declareVariable" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="InternalParameters"/>
				<xs:element ref="externalParameters" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parameter">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="1.0"/>
						<xs:enumeration value="Asset Information"/>
						<xs:enumeration value="Category"/>
						<xs:enumeration value="Description"/>
						<xs:enumeration value="Granite"/>
						<xs:enumeration value="LIVE"/>
						<xs:enumeration value="NEC"/>
						<xs:enumeration value="NSN"/>
						<xs:enumeration value="ON AIR"/>
						<xs:enumeration value="RootContainer"/>
						<xs:enumeration value="SRAL XD"/>
						<xs:enumeration value="Serial Number"/>
						<xs:enumeration value="Slot Occupancy"/>
						<xs:enumeration value="Status"/>
						<xs:enumeration value="TRANSMISSION"/>
						<xs:enumeration value="aidNm"/>
						<xs:enumeration value="discoveredName"/>
						<xs:enumeration value="ehNm"/>
						<xs:enumeration value="eqNm"/>
						<xs:enumeration value="external:"/>
						<xs:enumeration value="external:ipAdress"/>
						<xs:enumeration value="function:getRefData"/>
						<xs:enumeration value="installedEquipmentObjectType"/>
						<xs:enumeration value="ipAdress"/>
						<xs:enumeration value="manufacturer"/>
						<xs:enumeration value="meNm"/>
						<xs:enumeration value="productName"/>
						<xs:enumeration value="session:cardCategory"/>
						<xs:enumeration value="session:cardEhNm"/>
						<xs:enumeration value="session:cardName"/>
						<xs:enumeration value="session:eqType"/>
						<xs:enumeration value="session:function:CONCAT(&apos;/card=&apos;,cardName)"/>
						<xs:enumeration value="session:function:CONCAT(&apos;/rack=&apos;,rackName)"/>
						<xs:enumeration value="session:function:CONCAT(cardName)"/>
						<xs:enumeration value="session:function:CONCAT(shelfName)"/>
						<xs:enumeration value="session:function:CONCAT(slotName)"/>
						<xs:enumeration value="session:shelfEhNm"/>
						<xs:enumeration value="session:siteName"/>
						<xs:enumeration value="session:slotEhNm"/>
						<xs:enumeration value="version"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="Object"/>
						<xs:enumeration value="String"/>
						<xs:enumeration value="string"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="ipAdress"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="outputParam">
		<xs:complexType>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="String"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="mappings">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="variableDeclaration"/>
				<xs:element ref="functionDeclaration"/>
				<xs:element ref="ExternalObjectInput"/>
				<xs:element ref="mapping" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="mapping">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="attributes"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="paramValue">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="paramType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="String"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="internalObject" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="externalObject" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="dz.ericsson.commun.parsing.domain.TextObject"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="inputParam">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="external:ipAdress"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="string"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="functionDeclare">
		<xs:complexType>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="functionDeclaration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="functionDeclare" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="function">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="inputParam" maxOccurs="unbounded"/>
				<xs:element ref="outputParam"/>
			</xs:sequence>
			<xs:attribute name="objectClass" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="getRefData"/>
						<xs:enumeration value="getRefData2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="methodName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="getRefData"/>
						<xs:enumeration value="getRefData2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="externalParameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="parameter" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="declareVariable">
		<xs:complexType>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="key" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ABCD1"/>
						<xs:enumeration value="ABCD2"/>
						<xs:enumeration value="ABCD3"/>
						<xs:enumeration value="ABCD4"/>
						<xs:enumeration value="ABCD5"/>
						<xs:enumeration value="ABCD6"/>
						<xs:enumeration value="ABCD7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="attributes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="attribute" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="attribute">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="parameters"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="internalAttribute" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="addAttribute"/>
						<xs:enumeration value="addVendorExtension"/>
						<xs:enumeration value="setAttribute"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="externalAttribute" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="getField"/>
						<xs:enumeration value="getId"/>
						<xs:enumeration value="getInstalledPartNumber"/>
						<xs:enumeration value="getInstalledSerialNumber"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="addField">
		<xs:complexType>
			<xs:attribute name="toFile" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="order" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="EQUIPMENT TYPE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="fromFile" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="InternalParameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="parameter" maxOccurs="unbounded"/>
				<xs:element ref="function" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FilesKeys">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FileKey" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FileRelationShip">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="addField" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FileKey">
		<xs:complexType>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="abscdfr"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="key" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Ip Address"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ExternalObjectInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FilesKeys"/>
				<xs:element ref="FileRelationShip"/>
			</xs:sequence>
			<xs:attribute name="exoInputType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="text"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
